[Unit]
Description=Hyprland Polkit Agent
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/lib/hyprpolkitagent/hyprpolkitagent
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
