timeout: 3
default_entry: 1
remember_last_entry: yes
interface_branding: ICU
interface_branding_colour: 5
interface_help_hidden: yes
interface_resolution: 1920x1080

term_font_scale: 2x2
term_margin: 32
term_margin_gradient: 8
term_palette: 1e1e2e;f38ba8;a6e3a1;f9e2af;89b4fa;f5c2e7;94e2d5;bac2de
term_palette_bright: 585b70;f38ba8;a6e3a1;f9e2af;89b4fa;f5c2e7;94e2d5;a6adc8
term_background: cc1e1e2e
term_foreground: cdd6f4

